<div id="content">
  <section id="content-1">
    <div class="wrapper-section passion bg-fill bg container-fluid">
      <div class="absolute fill"></div>
      <div class="banner-layers container"></div>

      <scroll-more-button [theme]="'light'"></scroll-more-button>
    </div>
  </section>

  <!-- SECTION 2 ABOUT-->
  <section id="content-2" data-anchor="About MGV">
    <div nz-row class="container-fluid">
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="12"
        style="padding: 50px 7% 100px 7%"
      >
        <h3 class="section-title" data-aos="fade-down">
          <span
            class="section-title-main"
            style="font-size: 29px; color: var(--text-dark-color)"
          >
            {{
              "APO Hair – The Biggest Hair Wholesaler in Vietnam" | translate
            }}
          </span>
        </h3>
        <nz-divider style="height: 2px; background-color: #ececec"></nz-divider>
        <div class="text" data-aos="fade-right">
          <p>
            <strong>
              {{ "APO Import Export Joint Stock Company" | translate }}
            </strong>
            is one of leading hair extensions exporter in Vietnam with more than
            2 decades in the industry. Over the past years, we have continually
            improved our vision and mission to become one of the top hair
            suppliers in the global market. We always operate under the slogan
            “Reputation is more valuable than gold,” and strive to continuously
            enhance the quality of our products to maintain customers’ trust.
          </p>
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="12"
        style="padding: 50px 7% 100px 7%"
      >
        <h3 class="section-title" data-aos="fade-down">
          <span
            class="section-title-main"
            style="font-size: 29px; color: var(--text-dark-color)"
          >
            APO Hair – The Biggest Hair Wholesaler in Vietnam
          </span>
        </h3>
        <nz-divider style="height: 2px; background-color: #ececec"></nz-divider>
        <div class="text" data-aos="fade-left">
          <p>
            <strong> APO Import Export Joint Stock Company</strong>
            is one of leading hair extensions exporter in Vietnam with more than
            2 decades in the industry. Over the past years, we have continually
            improved our vision and mission to become one of the top hair
            suppliers in the global market. We always operate under the slogan
            “Reputation is more valuable than gold,” and strive to continuously
            enhance the quality of our products to maintain customers’ trust.
          </p>

          <ul class="list-style" style="padding-left: 15px">
            <li>
              Product development: We have expanded our product range with new
              styles and hair care products.
            </li>
            <li>
              Product development: We have expanded our product range with new
              styles and hair care products.
            </li>
            <li>
              Product development: We have expanded our product range with new
              styles and hair care products.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <scroll-more-button [theme]="'dark'"></scroll-more-button>
  </section>

  <!-- SECTION 3 FOUNDER-->
  <section id="content-3" data-anchor="Tony Phan">
    <div class="wrapper-section founder bg-fill bg container-fluid">
      <div class="banner-layers container">
        <div nz-row>
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="8"
            nzLg="8"
            nzXl="8"
            class="p-3"
          >
            <div nz-flex nzAlign="center" nzJustify="center">
              <img
                src="../../../assets/images/founder/CEO-Phan-Van-Toan-Tony-Phan.jpg"
                alt=""
                loading="lazy"
                style="width: 100%; height: auto"
              />
            </div>
          </div>
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="16"
            nzLg="16"
            nzXl="16"
            class="p-3"
          >
            <h3 class="section-title" data-aos="fade-down">
              <span
                class="section-title-main"
                style="font-size: 29px; color: var(--text-dark-color)"
              >
                {{
                  "PHAN VAN TOAN: LEADING THE WAY IN HAIR EXTENSIONS - CEO PROFILE AT APOHAIR"
                    | translate
                }}
              </span>
            </h3>

            <nz-divider
              style="height: 2px; background-color: #0000001a"
            ></nz-divider>

            <div
              class="text"
              data-aos="fade-left"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out"
            >
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>

              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>

              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>

              <h3 style="font-size: 20px">
                <strong>Contact:</strong>
              </h3>
              <ul class="list-style" style="padding-left: 15px">
                <li>Website: <a hightlight>https://apohair.com</a></li>
                <li>Website: <a hightlight>https://apohair.com</a></li>
                <li>Website: <a hightlight>https://apohair.com</a></li>
              </ul>

              <h4 style="font-size: 18px">
                <strong>Follow My Social Network:</strong>
              </h4>
              <ul class="list-style" style="padding-left: 15px">
                <li>Website: <a hightlight>https://apohair.com</a></li>
                <li>Website: <a hightlight>https://apohair.com</a></li>
                <li>Website: <a hightlight>https://apohair.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <scroll-more-button [theme]="'dark'"></scroll-more-button>
    </div>
  </section>

  <!-- SECTION 4 PRODUCTS-->
  <section id="content-4" data-anchor="Products">
    <div class="wrapper-section products bg-fill bg container-fluid">
      <div class="section-bg-overlay absolute fill"></div>
      <div class="banner-layers container" data-aos="fade-down">
        <nz-divider
          [nzText]="titleContent4"
          style="border-top-color: #f1f1f1e1; padding: 0 15%"
        >
          <ng-template #titleContent4>
            <h3 class="section-title">
              <span
                class="section-title-main"
                style="font-size: 56px; color: var(--text-light-color)"
              >
                {{ "Products" | translate }}
              </span>
            </h3>
          </ng-template>
        </nz-divider>

        <div nz-flex nzJustify="center" nzAlign="center">
          <p
            class="text text-center font-italic"
            style="width: 70%; color: var(--text-light-color)"
          >
            Apohair offers a diverse range of high-quality human hair products,
            including weaves, wigs, and extensions, to cater to customers’
            various needs and preferences.
          </p>
        </div>
      </div>

      <div nz-row class="p-3" nzJustify="center">
        <!-- BANNER 1 -->
        <div
          class="banner-1 bg-fill bg mt-5 mx-2 h-fit"
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="7"
          nzLg="7"
          nzXl="7"
          data-aos="fade-right"
          data-aos-duration="600"
        >
          <div class="section-bg-overlay-2 absolute fill"></div>
          <div class="banner-layers container p-4">
            <div class="container">
              <h3 class="text-left">
                <span style="font-size: 25; color: var(--text-light-color)">
                  {{ "ODM/OEM" | translate }}
                </span>
              </h3>
              <nz-divider
                style="background-color: #f1f1f1; margin: 7px"
              ></nz-divider>
            </div>
            <div class="text light">
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
            </div>
          </div>
        </div>
        <!-- BANNER 2 -->
        <div
          class="banner-2 bg-fill bg mx-2 h-fit"
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="7"
          nzLg="7"
          nzXl="7"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="section-bg-overlay-2 absolute fill"></div>
          <div class="banner-layers container p-4">
            <div class="container">
              <h3 class="text-left">
                <span style="font-size: 25; color: var(--text-light-color)">
                  {{ "ODM/OEM" | translate }}
                </span>
              </h3>
              <nz-divider
                style="background-color: #f1f1f1; margin: 7px"
              ></nz-divider>
            </div>
            <div class="text light">
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
            </div>
          </div>
        </div>
        <!-- BANNER 3 -->
        <div
          class="banner-3 bg-fill bg mt-5 mx-2 h-fit"
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="7"
          nzLg="7"
          nzXl="7"
          data-aos="fade-left"
          data-aos-duration="1400"
        >
          <div class="section-bg-overlay-2 absolute fill"></div>
          <div class="banner-layers container p-4">
            <div class="container">
              <h3 class="text-left">
                <span style="font-size: 25; color: var(--text-light-color)">
                  {{ "ODM/OEM" | translate }}
                </span>
              </h3>
              <nz-divider
                style="background-color: #f1f1f1; margin: 7px"
              ></nz-divider>
            </div>
            <div class="text light">
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <scroll-more-button [theme]="'light'"></scroll-more-button>
  </section>

  <!-- SECTION 5 ACHIEVEMENTS -->
  <section id="content-5" data-anchor="Achievements">
    <div class="wrapper-section achievements bg-fill bg container-fluid">
      <div class="banner-layers container" data-aos="fade-down">
        <nz-divider
          [nzText]="titleContent5"
          style="border-top-color: #0a0a0a4e; padding: 0 15%"
        >
          <ng-template #titleContent5>
            <h3 class="section-title">
              <span
                class="section-title-main"
                style="font-size: 56px; color: var(--text-dark-color)"
              >
                {{ "Achievements" | translate }}
              </span>
            </h3>
          </ng-template>
        </nz-divider>

        <div nz-flex nzJustify="center" nzAlign="center">
          <p
            class="text text-center font-italic"
            style="width: 70%; color: var(--text-dark-color)"
          >
            {{
              "APO offers perfect quality and service to bring success in partnership with customers."
                | translate
            }}
          </p>
        </div>
      </div>

      <div class="banner-layers container">
        <div nz-row nzGutter="40" style="margin-bottom: 40px">
          <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <div
              nz-flex
              nzAlign="center"
              nzJustify="center"
              data-aos="fade-right"
            >
              <img
                src="../../../assets/images/about-us/ENVIRONMENT.jpg"
                alt=""
                loading="lazy"
                style="width: 100%; height: auto"
              />
            </div>
          </div>
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="16"
            nzLg="16"
            nzXl="16"
            class="p-3"
          >
            <h3 class="section-title left" data-aos="fade-down">
              <span
                class="section-title-main"
                style="font-size: 29px; color: var(--text-dark-color)"
              >
                {{ "Growth" | translate }}
              </span>
            </h3>

            <nz-divider
              style="height: 2px; background-color: #0000001a; margin: 15px 0"
            ></nz-divider>

            <div
              class="text"
              data-aos="fade-left"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out"
            >
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
            </div>
          </div>
        </div>

        <!-- 2 content in bottom -->
        <div nz-row nzGutter="40">
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            data-aos="fade-up-right"
            data-aos-duration="1000"
            data-aos-easing="ease-in-sine"
          >
            <div nz-flex nzAlign="center" nzJustify="center">
              <img
                src="../../../assets/images/background/PASSION.png"
                alt=""
                loading="lazy"
                style="width: 100%; height: auto"
              />
            </div>

            <h3 class="section-title left mt-3">
              <span
                class="section-title-main"
                style="font-size: 29px; color: var(--text-dark-color)"
              >
                {{ "Growth" | translate }}
              </span>
            </h3>

            <nz-divider
              style="height: 2px; background-color: #0000001a; margin: 15px 0"
            ></nz-divider>

            <div class="text">
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
            </div>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            data-aos="fade-down-left"
            data-aos-duration="1000"
            data-aos-easing="ease-in-sine"
          >
            <div nz-flex nzAlign="center" nzJustify="center">
              <img
                src="../../../assets/images/background/PASSION.png"
                alt=""
                loading="lazy"
                style="width: 100%; height: auto"
              />
            </div>

            <h3 class="section-title left mt-3" data-aos="fade-down">
              <span
                class="section-title-main"
                style="font-size: 29px; color: var(--text-dark-color)"
              >
                {{ "Growth" | translate }}
              </span>
            </h3>

            <nz-divider
              style="height: 2px; background-color: #0000001a; margin: 15px 0"
            ></nz-divider>

            <div class="text">
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <scroll-more-button [theme]="'dark'"></scroll-more-button>
  </section>

  <!-- CONTENT 6 Office And Factory -->
  <section id="content-6" data-anchor="Office And Factory">
    <div class="wrapper-section offices bg-fill bg container-fluid">
      <div class="banner-layers container">
        <div nz-row nzGutter="40" style="margin-bottom: 40px">
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="8"
            nzLg="8"
            nzXl="8"
            nzGutter="10"
          >
            <div nz-row nzGutter="10" style="margin-bottom: 10px">
              <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <div nz-flex nzAlign="center" nzJustify="center">
                  <img
                    src="../../../assets/images/about-us/ENVIRONMENT.jpg"
                    alt=""
                    loading="lazy"
                    style="width: 100%; height: auto"
                  />
                </div>
              </div>
              <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <div nz-flex nzAlign="center" nzJustify="center">
                  <img
                    src="../../../assets/images/about-us/ENVIRONMENT.jpg"
                    alt=""
                    loading="lazy"
                    style="width: 100%; height: auto"
                  />
                </div>
              </div>
            </div>
            <div nz-row>
              <div nz-flex nzAlign="center" nzJustify="center">
                <img
                  src="../../../assets/images/about-us/ENVIRONMENT.jpg"
                  alt=""
                  loading="lazy"
                  style="width: 100%; height: auto"
                />
              </div>
            </div>
          </div>
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="16"
            nzLg="16"
            nzXl="16"
            class="p-3"
          >
            <h3 class="section-title left" data-aos="fade-down">
              <span
                class="section-title-main"
                style="font-size: 29px; color: var(--text-dark-color)"
              >
                {{ "Office And Factory" | translate }}
              </span>
            </h3>

            <nz-divider
              style="height: 2px; background-color: #0000001a; margin: 15px 0"
            ></nz-divider>

            <div
              class="text"
              data-aos="fade-left"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out"
            >
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <scroll-more-button [theme]="'dark'"></scroll-more-button>
  </section>

  <!-- CONTENT 7 MISSION -->
  <section id="content-7" data-anchor="Mission">
    <div class="wrapper-section mission bg-fill bg container-fluid">
      <div class="banner-layers container" data-aos="fade-down">
        <nz-divider
          [nzText]="titleContent7"
          style="border-top-color: #0a0a0a4e; padding: 0 15%"
        >
          <ng-template #titleContent7>
            <h3 class="section-title">
              <span
                class="section-title-main"
                style="font-size: 56px; color: var(--text-dark-color)"
              >
                {{ "Mission" | translate }}
              </span>
            </h3>
          </ng-template>
        </nz-divider>

        <div nz-flex nzJustify="center" nzAlign="center">
          <p
            class="text text-center font-italic"
            style="width: 70%; color: var(--text-dark-color)"
          >
            {{
              "We have always been responsible for taking care of our employees, the environment, and the communities in which APO is involved."
                | translate
            }}
          </p>
        </div>
      </div>

      <div class="banner-layers container">
        <!-- Image left, text right -->
        <div nz-row nzGutter="40" style="margin-bottom: 40px" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <div
              nz-flex
              nzAlign="center"
              nzJustify="center"
              data-aos="fade-right"
            >
              <img
                src="../../../assets/images/about-us/ENVIRONMENT.jpg"
                alt=""
                loading="lazy"
                style="width: 100%; height: auto"
              />
            </div>
          </div>
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="16"
            nzLg="16"
            nzXl="16"
            class="p-3"
          >
            <h3 class="section-title left" data-aos="fade-down">
              <span
                class="section-title-main"
                style="font-size: 29px; color: var(--text-dark-color)"
              >
                {{ "Growth" | translate }}
              </span>
            </h3>

            <nz-divider
              style="height: 2px; background-color: #0000001a; margin: 15px 0"
            ></nz-divider>

            <div
              class="text"
              data-aos="fade-left"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out"
            >
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
            </div>
          </div>
        </div>

        <!-- Image right, text left -->
        <div nz-row nzGutter="40" style="margin-bottom: 40px" nzAlign="middle">
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="16"
            nzLg="16"
            nzXl="16"
            class="p-3"
          >
            <h3 class="section-title left" data-aos="fade-down">
              <span
                class="section-title-main"
                style="font-size: 29px; color: var(--text-dark-color)"
              >
                {{ "Growth" | translate }}
              </span>
            </h3>

            <nz-divider
              style="height: 2px; background-color: #0000001a; margin: 15px 0"
            ></nz-divider>

            <div
              class="text"
              data-aos="fade-right"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out"
            >
              <p>
                <strong>Phan Van Toan</strong> (<strong hightlight
                  >Tony Phan</strong
                >), born in <strong>1980</strong>, is the esteemed CEO of
                Apohair, a renowned company specializing in hair extensions.
                With a passion for the beauty industry, Toan has accumulated
                extensive experience in the field of hair extensions. His
                journey began 12 years ago when he recognized the transformative
                power of high-quality hair extensions and their ability to boost
                confidence and enhance natural beauty.
              </p>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <div
              nz-flex
              nzAlign="center"
              nzJustify="center"
              data-aos="fade-left"
            >
              <img
                src="../../../assets/images/about-us/ENVIRONMENT.jpg"
                alt=""
                loading="lazy"
                style="width: 100%; height: auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <scroll-more-button [theme]="'dark'"></scroll-more-button>
  </section>
</div>
